beautifulsoup4==4.9.3
Django==3.1.7
requests==2.25.1

# Auto 
APScheduler==3.6.3

django-import-export
django-admin-interface
django-admin-generator
gunicorn==20.0.4
psycopg2-binary
django-heroku
#gunicorn marketwatch.wsgi
#clock: python manage.py runserver --noreload